# Configurações do Aplicativo SIGAA Matrícula UnB
# Copie este arquivo para .env e altere os valores abaixo

FLASK_SECRET_KEY=insira-uma-chave-secreta-forte-aqui
GATE_PASSWORD=insira-sua-senha-de-acesso-ao-painel-aqui
